.top__container {
    height: var(--top-container-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
}

.main__container {
    position: fixed;
    overflow-y: auto;
    z-index: 200;
    
    &::-webkit-scrollbar {
        display: none;
    }

    top: var(--top-container-height);
    left: var(--left-container-width);

    height: calc(100% - (var(--top-container-height) + (4 * var(--main-container-margin))));
    width: calc(100% - (var(--left-container-width) + (4 * var(--main-container-margin))));

    padding: var(--main-container-padding);
    margin: var(--main-container-margin);

    border-radius: 4px;
    border: .12em solid var(--border-container-color);
    color: black;

    transition: .3s ease all;
}